.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .playersboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .leaderboard {
    margin-bottom: 20px;
  }
  
  .leaderboard h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .leaderboard ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .leaderboard li {
    font-size: 1.2rem;
  }
  
  .gameboard__player {
    border: 2px solid #cccccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 230px;
    background-color: #f9f9f9;
  }
  
  .gameboard__player.active {
    border-color: #0000ff;
    border-radius: 20px;
    background-color: #0787ef;
  }
  
  .gameboard__player h3 {
    margin: 0;
    font-size: 1.4rem;
  }
  
  .gameboard__player p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .gameboard__player h4 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
  }
  
  .gameboard__player button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .gameboard__player button:hover {
    background-color: #0056b3;
  }


  .stopbutton button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #06dcef;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .stopbutton button:hover {
    background-color: #3909d6;
  }
  
  