.userli {
     list-style-type: none ;
    }
.userli div button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 0.7rem;
    color: #fff;
    background-color: #57fd48;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .userli div button:hover {
    background-color: #089b0d;
  }