.toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .toolbar-button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
  }

  .toolbar-button.active {
    background-color: #d3d3d3; 
    border: 2px black;
    border-radius: 5px;
  }

  